.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
}

.links{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    text-decoration: none;
}